@import '../abstract/variaveis';

.banner {
    background: url(../imagens/banner.jpeg) 27% center no-repeat;
    min-height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    .inner-banner {
        padding: 3rem;
        background-color: $cor-terciaria;
        opacity: 0.9;
        border-radius: 45px;
        text-align: center;
        h1 {
            font-size: $tamanho-texto;
            color: $cor-titulo;
            font-family: $fonte-logo;
        }
        h2 {
            font-size: $tamanho-texto / 2.8;
            color: $cor-secundaria;
        }
    }
}

