//Fontes
$fonte: 'Roboto', sans-serif;
$fonte-logo: 'Alkatra';

//Cores
$cor-titulo: #F8B400;
$cor-primaria: #004445;
$cor-secundaria: #2C786C;
$cor-terciaria: #FAF5E4;

//Tamanho das fontes
$tamanho-texto: 3rem;